.button{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #6F6F6F;
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-border-color: #D0294F;
    -fx-border-radius: 5;
}
.button:hover{
    -fx-effect: none;
    -fx-background-color: transparent;
    -fx-border-color:#6F6F6F;
}

.label{
    -fx-text-alignment: center;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #6F6F6F;
    -fx-font-size: 16px;
}

