.button {
    -fx-font: 12px "Serif";
    -fx-padding: 7;
    -fx-background-color: rgba(0, 51, 102, 0.7);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.button:focused {
    -fx-border-color: rgba(0, 89, 179, 0.4);
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: rgba(0, 89, 179, 0.4);
    -fx-text-fill: white;
}

/*Main Window - Tab Pane*/
.tab {
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-background-color: #F3F3F3;
}



.control-buttons-tab{
    -fx-background-color: #F3F3F3;
}
.control-buttons-tab .tab-down-button{
    -fx-background-color: #D0294F;
}
.control-buttons-tab .jfx-rippler{
    -jfx-rippler-fill: #D0294F;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #F3F3F3;
}
.jfx-tab-pane .tab .tab-label {
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
    -fx-text-fill: #6F6F6F;
    -fx-font-size: 12;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #D0294F;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #D0294F;
}